body {
  margin: 0;
}

.header {
  padding: 20px;
  background-color: #63d9db;
}

.header-title {
  text-align: center;
}

.nav {
  position: relative;
  margin-left: auto;
  width: 50px;
}

.navbutton {
  background-color: #16147a;
  color: white;
}

.dropmenu-items {
  display: none;
  position: absolute;
  right: 100%;
  top: 50%;
  background-color: #5e8ebb;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropmenu-items a {
  color: black;
  padding: 6px;
  text-decoration: none;
  display: block;
}

.dropmenu-items a:hover {
  background-color: #b0dcee;
}

.nav:hover .dropmenu-items {
  display: block;
}

.dropmenu:hover .dropbutton {
  background-color: #60afdd;
}

.container {
  padding: 10px;
}

.home {
  width: 250px;
  background-color: #f2f52f;
  margin: 30px auto 0 5vw;
}

.about {
  width: 250px;
  background-color: #2ff5a3;
  margin: 0 20vw 0 auto;
}

.works {
  width: 250px;
  background-color: #de2ff5;
  margin-left: 25vw;
}

.contacts {
  width: 250px;
  background-color: #f59f2f;
  margin: 0 10vw 30px auto;
}

.container-title {
  text-align: center;
  font-size: 1rem;
}

.container-text {
  margin: 10px;
  font-size: 0.6rem;
}
